@import './../lib/vars'; 

.comment-item {
  margin-top: 12px;

  .comment-photo-div {
    float: left;

    img {
      width: 48px;
      height: 48px;
      margin-right: 8px;
     }
  }
    
  .comment-text-div {
    width: calc((100% - 56px));
    display: inline-block;
    box-sizing: border-box;
    
    .comment-commenter {
      color: $color-primary;
      font-weight: bold;
      padding: $pad;
    }
    .comment-content {
      color: $color-black;
      padding: $pad;
    }
   }
 }