@import './../lib/vars'; 

.comment-form {
  margin-bottom: 24px;

  .photo-div {
    float: left;

    img {
      width: 48px;
      height: 48px;
      margin-right: 8px;
    }
  }

  .commentInput-div {
    width: calc((100% - 56px));
    display: inline-block;
    box-sizing: border-box;
    cursor: text;
    font-size: 11px;
    padding: 3px;
    border: 1px solid #d3d6db;
    word-wrap: break-word;
    line-height: 1.358;
    word-break: break-word;
    background: #F9F9F9;

    .commentInputWrapper {
      input {
        margin: 0;
        padding: 12px 8px;
        min-height: 40px;
        font-size: 16px;

          ::placeholder {
            color: #a9a9a9;
        }
        :-ms-input-placeholder {
            color: #a9a9a9;
        }
        ::-ms-input-placeholder {
            color: #a9a9a9;
        }
      }
    }
  }

  .commentFormButtonDiv {
    border: 1px solid #d3d6db;
    border-top: 0;
    width: calc((100% - 56px));
    margin-left: 56px;
    width: calc((100% - 56px));
    padding: 3px;
    background: #F9F9F9;

    .ButtonDiv {
      background: #f6f7f9;
      padding: 8px;
      text-align: right;
    }
  }
}