@import './../lib/vars'; 
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 44px;
  width: 100%;
  z-index: 101;
  border: none;
  background: #000;

  .logo {
    position: absolute;
    left: 16px;
    top: 12px;
    height: auto;
    z-index: 103;

    .logo-text {
      transition: all 0.35s cubic-bezier(0.77, 0, 0.175, 1);
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      cursor: pointer;

      span:nth-child(1) {
        font-weight: 600;
        padding-right: 8px;
      }
      span:nth-child(2) {
        font-weight: 300;
      }
    }
  }

  .socials {
    float: right;
    z-index: 105;
    list-style-type: none;
    margin: 0;
    padding: 12px 0 0 0;
    background: #000;

    .social {
      float: left;
      list-style-type: none;
      margin: 0;
      padding: 0;
      transition-delay: 0.5s;
      transition: all 0.35s cubic-bezier(0.77, 0, 0.175, 1);

      .fa-github, .fa-linkedin {
        font-size: 20px;
        transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
      }
    }

    .dropdown {
      font-size: 16px;
      line-height: 20px;
      font-weight: 900;
      width: auto;

      .avatarDiv {
        cursor: pointer;
        transition-delay: 0.5s;
        transition: all 0.35s cubic-bezier(0.77, 0, 0.175, 1);
        margin-right: 10px;

        .avatar img {
          border-radius: 50%;
          overflow: hidden;
          height: 36px;
          margin-top: -8px;
        }
        i {
          font-size: 20px;
          padding-top: 0;
        }
        .fa-caret-down {
          padding-right: 15px;
        }
      }

      .dropdownDiv {
        position: fixed;
        right: 0;
        top: 44px;
        padding: 5px 30px 15px 30px;
        border-bottom-left-radius: .5vw;
        border-bottom-right-radius: .5vw;
        text-transform: uppercase;
        background: #000;
        z-index: -1;
        transform: translateY(-100px);
        transition: transform .4s ease-in;

        .link {
          display: block;
          text-decoration: none;
          cursor: pointer;
          transition: all 0.35s cubic-bezier(0.77, 0, 0.175, 1); 
        }
      }
      .dropdownDiv.slideIn {
        transform: translateY(0);
      }
      .dropdownDiv.slideOut {
        transform: translateY(-100%);
      }
    }
    
    .social:nth-child(2) {
        margin-right: 8px;
    }
    .social:nth-child(3) {
        margin-right: 16px;
    }
  }
  
  .logo-text, .social-icons, .colorChangeHover, .dropdownDiv .link {
    color: #FFF;
  }
  .logo-text:hover, .social:hover .social-icons, .avatarDiv:hover .colorChangeHover, .dropdownDiv .link:hover {
    color: rgba(255,255,255, 0.8);
  }
}
.introNavbar {
  background: #FFF;

  .logo-text, .social-icons {
    color: #9B9B9B;
  }
  .logo-text:hover, .social:hover .social-icons {
    color: #ECECEC;
  }
}

@media (min-width: 371px) {
  .navbar {
    .logo {
      top: 9px;
      .logo-text {
        font-size: 26px;
      }
    }

    .socials {
      padding: 9px 0 0 0;

      .dropdown {
        margin-right: 8px;

        .dropdownDiv {
          padding: 5px 40px 15px 40px;
        }

        .avatarDiv {
          .fa-caret-down {
            padding-right: 20px;
          }
          i {
            font-size: 26px;
          }
          .avatar img {
            margin-top: -5px;
          }
        }
      }

      .social .fa-github, .social .fa-linkedin {
        font-size: 26px;
      }
    }
  }
}

@media (min-width: 481px) {
  .navbar {
    height: 62px;

    .logo {
      top: 16px;
      .logo-text {
        font-size: 30px;
      }
    }

    .socials {
      padding: 16px 0 0 0;

      .dropdown {
        .dropdownDiv {
          top: 62px;
          padding: 5px 50px 15px 50px;
        }

        .avatarDiv {
          .fa-caret-down {
            padding-right: 25px;
          }
          i {
            font-size: 30px;
          }
          .avatar img {
            height: 40px;
            margin-top: -6px;
          }
        }
      }

      .social .fa-github, .social .fa-linkedin {
        font-size: 30px;
      }
    }
  }
}