// keep
@import './../lib/vars'; 

.tableHeadline {
  line-height: 1;
  font-weight: 600;
  color: #1d1e1f;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 12px 0;
  letter-spacing: 1px;
  text-align: center;
}
.tableColumnDiv {
  border-bottom: #edeef0 1px solid;
  padding: 7.5px 0 0;
}
.tableColumn {
  font-weight: 900;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 0;
  font-size: 11px;
  color: #1d1e1f;
  letter-spacing: .5px;
}
.columnUser, .columnUserData {
  width: 70%;
}
.columnScore, .columnScoreData {
  width: 30%;
}
.columnName, .columnNameData, .columnCreator, .columnCreatorData {
  width: 35%;
}
.columnSize, .columnSizeData {
  width: 30%;
}
.columnData {
  color: #1d1e1f;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  text-transform: uppercase;
  display: inline-block;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
}
.cursor {
  cursor: pointer;
}
.cursor:hover .columnData{
  color: #06c;
}
.tableContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
}