// keep
@import './../lib/vars'; 

.leagueItem-page {
  .gameItemOuter {
    margin: 0 16px;
  }

    .cardItem {
      width: 628px;
      height: 90px;
      border-bottom: 1px solid #000;
      border-top: 1px solid #333;
      position: relative;
      background-color: #202020;
  
      .homeTeamLogoDiv {
        background: -webkit-gradient(linear, right top, left top, from(#141414), color-stop(0.15, #1d1d1d), to(#202020));
        width: 90px;
        height: 90px;
        position: absolute;
        top: 0;
        left: 0;
      }
      .homeTeamLogoWrapper {
        width: 90px;
        height: 90px;
        position: absolute;
        top: 0;
        left: 0;
        background-size: contain !important;
      }
      .awayTeamLogoDiv {
        right: 0;
        left: auto;
        background: -webkit-gradient(linear, left top, right top, from(#141414), color-stop(0.15, #1d1d1d), to(#202020));
        width: 90px;
        height: 90px;
        position: absolute;
        top: 0;
      }
      .awayTeamLogoWrapper {
        width: 90px;
        height: 90px;
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        background-size: contain !important;
      }
      .homeTeamInfoDiv {
        position: absolute;
        left: 90px;
        text-align: right;
        top: 15px;
        width: 137.5px;
        height: 50px;
        color: #ccc;
        font-size: 26px;
        text-transform: uppercase;
  
        .cityRec {
          color: #888;
          font-size: 13px;
          margin-bottom: 12px;
          text-align: right;
          text-transform: uppercase;
        }
        .teamName {
          color: #00ADEA;
          color: #ccc;
          text-align: right;
          font-size: 25px;
          text-transform: uppercase;
        }
      }
  
      .awayTeamInfoDiv {
        top: 15px;
        width: 137.5px;
        height: 50px;
        color: #ccc;
        font-size: 26px;
        text-transform: uppercase;
        position: absolute;
        left: 400.5px;
  
        .cityRec {
          color: #888;
          font-size: 13px;
          margin-bottom: 12px;
          text-align: left;
          text-transform: uppercase;
        }
        .teamName {
          color: #9E0000;
          color: #ccc;
          text-align: left;
          font-size: 25px;
          text-transform: uppercase;
        }
      }
      .middle {
        background: url(./../../components/helpers/assets/sprite.png) no-repeat scroll -203px -240px transparent;
        height: 40px;
        left: 241.5px;
        position: absolute;
        top: 15px;
        width: 145px;
  
        .homePick {
          display: inline-block;
          width: 73px;
          height: 40px;
          position: absolute;
          left: 0px;
          top: 0px;
          cursor: pointer;
          z-index: 3;
        }
        .awayPick {
          display: inline-block;
          width: 73px;
          height: 40px;
          position: absolute;
          right: 0px;
          top: 0px;
          cursor: pointer;
          z-index: 3;
        }
        .sliderButtonWrapper {
          position: relative;
          height: 40px;
          width: 145px;
  
          .sliderButton {
            background: #8b8b8b;
            height: 30px;
            width: 75px;
            position: absolute;
            left: 35px;
            top: 5px;
            border-radius: 15px;
            cursor: pointer;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
          }
          .homeTeamPickButtonState {
            left: 6px;
            right: auto;
          }
          .awayTeamPickButtonState {
            right: 6px;
            left: auto;
          }
        }
      }
  
      .gameTime {
        text-align: center;
        color: #fff;
        left: 241.5px;
        position: absolute;
        bottom: 5px;
        width: 145px;
      }
    }
  }

  @media (max-width: 663px) {
    .leagueItem-page .cardItem {
      width: 310px;
      height: 180px;
  
      .homeTeamInfoDiv {
        width: 200px;
        left: 100px;

        .cityRec, .teamName {
          text-align: left;
        }
      }
      .middle {
        left: 200px;
        top: 72.5px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        z-index: 3;
      }
      .gameTime {
        left: 100px;
        text-align: left;
        bottom: 82px;
        font-weight: 900;
      }
      .awayTeamInfoDiv {
        top: auto;
        bottom: 15px;
        width: 200px;
        left: 100px;
        text-align: right;
  
      }
      .awayTeamLogoDiv {
        right: auto;
        background: -webkit-gradient(linear, right top, left top, from(#141414), color-stop(0.15, #1d1d1d), to(#202020));
        width: 90px;
        height: 90px;
        position: absolute;
        top: 90px;
        left: 0;
      }
      .awayTeamLogoWrapper {
        top: 90px;
        right: auto;
        left: 0;
      }
    }
  }

  @media (max-width: 1199px) and (min-width: 992px) {
    .leagueItem-page .cardItem {
      width: 584.66px;
  
       .homeTeamInfoDiv {
        width: 115.83px;
       }
       .awayTeamInfoDiv {
        width: 115.83px;
        left: 378.83px;
       }
       .middle, .gameTime {
        left: 219.83px;
       }
       .awayTeamInfoDiv .teamName, .homeTeamInfoDiv .teamName {
        font-size: 22px;
       }
    }
  }